$root-font-size: 1rem;
$font-family: 'Roboto', sans-serif;
$page-width: 100%;
$paragraph-font-size: 1.6rem;

$primary-color-dark:   rgb(0, 0, 0);
$primary-color:        rgb(0, 0, 0);
$primary-color-light:  #FFECB3;
$primary-color-text:   #212121;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
